.cyber-button {
  max-width: 180px;
  width: 100%;
  height: 36px;
  border-radius: 36px;
  background: black;
  display: flex;
  position: relative;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 0 auto;
}

.cyber-button:disabled {
  opacity: 0.5;
  cursor: wait;
}

.cyber-button:active:not(:disabled) {
  transform: scale(0.95);
}

.cyber-button .left {
  height: 100%;
  width: 30%;
  background: #333;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  position: relative;
  transition: box-shadow 1s ease;
}

.cyber-button .left .shadow_up {
  height: 50%;
  width: 80%;
  position: absolute;
  top: 15%;
  right: 0;
  filter: blur(3px);
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  background: #fff8;
}

.cyber-button .left .shadow_down {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -10px 0 0 #fff5;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  filter: blur(5px);
}

.cyber-button .right {
  transition: background 1s ease, color 1s ease, box-shadow 1s ease;
  height: 100%;
  width: 70%;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 12px 'Orbitron', sans-serif;
  box-shadow: inset -1px 0 2px 0.3px white;
  text-transform: uppercase;
}

.cyber-button .right .shadow_up {
  height: 50%;
  width: 80%;
  position: absolute;
  top: 15%;
  left: 0;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  background: linear-gradient(to bottom, #fff5, transparent);
}

.cyber-button .right .shadow_down {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -10px 0 0 #fff5;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
}

.cyber-button .right .wire_svg {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  stroke: white;
  transition: stroke 1s ease;
}

.cyber-button:hover:not(:disabled) .left {
  box-shadow: 0 0 50px 5px var(--glow-color, rgba(125, 112, 79, 0.7));
}

.cyber-button:hover:not(:disabled) .right {
  background: radial-gradient(at 0 50%, var(--theme-color, orange) 20%, transparent);
  color: var(--theme-color, #f2d58a);
  box-shadow: 0 0 50px 5px var(--theme-color, #f2d58a);
}

.cyber-button:hover:not(:disabled) .right .wire_svg {
  stroke: var(--theme-color, #f2d58a);
}